section.footer 
  .container 
    .footer-top 
      .footer-column
        a(href="#").footer-heading.footer-heading--logo MoGo 
        p.footer-desc.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi veritatis aut aspernatur eveniet. Dolores atque voluptas distinctio, necessitatibus id rem repellendus eum, quidem provident, consequatur fuga obcaecati magnam facilis.
        p.footer-follower <strong>15k</strong> followers 
        .footer-social 
          span.text Follow us: 
          .footer-social-list 
            a(href="#").footer-social-icon
              i.fab.fa-facebook
            a(href="#").footer-social-icon
              i.fab.fa-twitter
            a(href="#").footer-social-icon
              i.fab.fa-instagram
            a(href="#").footer-social-icon
              i.fab.fa-facebook
            a(href="#").footer-social-icon
              i.fab.fa-facebook
        form(action="").footer-form
          input(type="email", placeholder="Your Email").footer-form-input
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs 
        a(href="#").footer-blog 
          img(src="./images/img-blogs1.png", alt="").footer-blog-img
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href="#").footer-blog 
          img(src="./images/img-blogs2.png", alt="").footer-blog-img
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis ad distinctio ut aliquid error fugit.
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href="#").footer-blog 
          img(src="./images/img-blogs3.png", alt="").footer-blog-image
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis ad distinctio ut aliquid error fugit.
            span.footer-blog-date.text.text--light Jan 9, 2016
      .footer-column
        h3.footer-heading Instagram 
        .footer-images
          .footer-image 
            img(src="./images/img-work1.png", alt="")
          .footer-image 
            img(src="./images/img-work2.png", alt="")
          .footer-image 
            img(src="./images/img-work3.png", alt="")
          .footer-image 
            img(src="./images/img-work4.png", alt="")
          .footer-image 
            img(src="./images/img-work5.png", alt="")
          .footer-image 
            img(src="./images/img-work6.png", alt="")
          .footer-image 
            img(src="./images/img-work1.png", alt="")
          .footer-image 
            img(src="./images/img-work2.png", alt="")
          .footer-image 
            img(src="./images/img-work3.png", alt="")
        a(href="#").footer-images-more.text.text--light View more photos 
    .footer-bottom &copy; 2021 MoGo free PSD template by <span>LouisNam</span>